public/schemas/imscp_v1p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  IMS Content Packaging XML Schema
  Version 1.1.4
  IMS Global Learning Consortium, Inc.

  Note: This is a simplified schema for SCORM 2004 4th Edition compliance.
  For the complete official schema, visit: https://www.imsglobal.org/content/packaging/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.imsglobal.org/xsd/imscp_v1p1"
           targetNamespace="http://www.imsglobal.org/xsd/imscp_v1p1"
           elementFormDefault="qualified"
           version="IMS CP 1.1.4">

    <xs:element name="manifest" type="manifestType"/>

    <xs:complexType name="manifestType">
        <xs:sequence>
            <xs:element name="metadata" type="metadataType" minOccurs="0"/>
            <xs:element name="organizations" type="organizationsType"/>
            <xs:element name="resources" type="resourcesType"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:ID" use="required"/>
        <xs:attribute name="version" type="xs:string"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:complexType name="metadataType">
        <xs:sequence>
            <xs:element name="schema" type="xs:string" minOccurs="0"/>
            <xs:element name="schemaversion" type="xs:string" minOccurs="0"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organizationsType">
        <xs:sequence>
            <xs:element name="organization" type="organizationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="default" type="xs:IDREF"/>
    </xs:complexType>

    <xs:complexType name="organizationType">
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="item" type="itemType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:ID" use="required"/>
        <xs:attribute name="structure" type="xs:string"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="item" type="itemType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:ID" use="required"/>
        <xs:attribute name="identifierref" type="xs:string"/>
        <xs:attribute name="isvisible" type="xs:boolean" default="true"/>
        <xs:attribute name="parameters" type="xs:string"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:complexType name="resourcesType">
        <xs:sequence>
            <xs:element name="resource" type="resourceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="resourceType">
        <xs:sequence>
            <xs:element name="metadata" type="metadataType" minOccurs="0"/>
            <xs:element name="file" type="fileType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="dependency" type="dependencyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:ID" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="href" type="xs:anyURI"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element name="metadata" type="metadataType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="href" type="xs:anyURI" use="required"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:complexType name="dependencyType">
        <xs:attribute name="identifierref" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
