public/schemas/imsss_v1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  IMS Simple Sequencing XML Schema
  Version 1.0

  Note: This is a simplified schema for SCORM 2004 4th Edition compliance.
  For the complete official schema, visit: https://www.imsglobal.org/simplesequencing/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.imsglobal.org/xsd/imsss"
           targetNamespace="http://www.imsglobal.org/xsd/imsss"
           elementFormDefault="qualified"
           version="IMS SS 1.0">

    <!-- Main sequencing element -->
    <xs:element name="sequencing" type="sequencingType"/>

    <xs:complexType name="sequencingType">
        <xs:sequence>
            <xs:element name="controlMode" type="controlModeType" minOccurs="0"/>
            <xs:element name="sequencingRules" type="sequencingRulesType" minOccurs="0"/>
            <xs:element name="limitConditions" type="limitConditionsType" minOccurs="0"/>
            <xs:element name="auxiliaryResources" type="auxiliaryResourcesType" minOccurs="0"/>
            <xs:element name="rollupRules" type="rollupRulesType" minOccurs="0"/>
            <xs:element name="objectives" type="objectivesType" minOccurs="0"/>
            <xs:element name="randomizationControls" type="randomizationControlsType" minOccurs="0"/>
            <xs:element name="deliveryControls" type="deliveryControlsType" minOccurs="0"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="ID" type="xs:ID"/>
        <xs:attribute name="IDRef" type="xs:IDREF"/>
    </xs:complexType>

    <!-- Control Mode -->
    <xs:complexType name="controlModeType">
        <xs:attribute name="choice" type="xs:boolean" default="true"/>
        <xs:attribute name="choiceExit" type="xs:boolean" default="true"/>
        <xs:attribute name="flow" type="xs:boolean" default="false"/>
        <xs:attribute name="forwardOnly" type="xs:boolean" default="false"/>
        <xs:attribute name="useCurrentAttemptObjectiveInfo" type="xs:boolean" default="true"/>
        <xs:attribute name="useCurrentAttemptProgressInfo" type="xs:boolean" default="true"/>
    </xs:complexType>

    <!-- Sequencing Rules -->
    <xs:complexType name="sequencingRulesType">
        <xs:sequence>
            <xs:element name="preConditionRule" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ruleConditions" type="ruleConditionsType"/>
                        <xs:element name="ruleAction">
                            <xs:complexType>
                                <xs:attribute name="action" type="preConditionActionType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postConditionRule" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ruleConditions" type="ruleConditionsType"/>
                        <xs:element name="ruleAction">
                            <xs:complexType>
                                <xs:attribute name="action" type="postConditionActionType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="exitConditionRule" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ruleConditions" type="ruleConditionsType"/>
                        <xs:element name="ruleAction">
                            <xs:complexType>
                                <xs:attribute name="action" type="exitConditionActionType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Rule Conditions -->
    <xs:complexType name="ruleConditionsType">
        <xs:sequence>
            <xs:element name="ruleCondition" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="referencedObjective" type="xs:anyURI"/>
                    <xs:attribute name="measureThreshold" type="xs:decimal"/>
                    <xs:attribute name="operator" type="conditionOperatorType" default="noOp"/>
                    <xs:attribute name="condition" type="conditionType" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="conditionCombination" type="conditionCombinationType" default="all"/>
    </xs:complexType>

    <!-- Limit Conditions -->
    <xs:complexType name="limitConditionsType">
        <xs:attribute name="attemptLimit" type="xs:nonNegativeInteger"/>
        <xs:attribute name="attemptAbsoluteDurationLimit" type="xs:duration"/>
    </xs:complexType>

    <!-- Auxiliary Resources -->
    <xs:complexType name="auxiliaryResourcesType">
        <xs:sequence>
            <xs:element name="auxiliaryResource" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="auxiliaryResourceID" type="xs:anyURI" use="required"/>
                    <xs:attribute name="purpose" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Rollup Rules -->
    <xs:complexType name="rollupRulesType">
        <xs:sequence>
            <xs:element name="rollupRule" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rollupConditions">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="rollupCondition" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:attribute name="operator" type="conditionOperatorType" default="noOp"/>
                                            <xs:attribute name="condition" type="rollupConditionType" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="conditionCombination" type="conditionCombinationType" default="all"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="rollupAction">
                            <xs:complexType>
                                <xs:attribute name="action" type="rollupActionType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="childActivitySet" type="childActivitySetType" default="all"/>
                    <xs:attribute name="minimumCount" type="xs:nonNegativeInteger" default="0"/>
                    <xs:attribute name="minimumPercent" type="xs:decimal" default="0.0"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="rollupObjectiveSatisfied" type="xs:boolean" default="true"/>
        <xs:attribute name="rollupProgressCompletion" type="xs:boolean" default="true"/>
        <xs:attribute name="objectiveMeasureWeight" type="xs:decimal" default="1.0"/>
    </xs:complexType>

    <!-- Objectives -->
    <xs:complexType name="objectivesType">
        <xs:sequence>
            <xs:element name="primaryObjective" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="minNormalizedMeasure" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="mapInfo" type="mapInfoType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="satisfiedByMeasure" type="xs:boolean" default="false"/>
                    <xs:attribute name="objectiveID" type="xs:anyURI"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="objective" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="minNormalizedMeasure" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="mapInfo" type="mapInfoType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="satisfiedByMeasure" type="xs:boolean" default="false"/>
                    <xs:attribute name="objectiveID" type="xs:anyURI" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Map Info -->
    <xs:complexType name="mapInfoType">
        <xs:attribute name="targetObjectiveID" type="xs:anyURI" use="required"/>
        <xs:attribute name="readSatisfiedStatus" type="xs:boolean" default="true"/>
        <xs:attribute name="readNormalizedMeasure" type="xs:boolean" default="true"/>
        <xs:attribute name="writeSatisfiedStatus" type="xs:boolean" default="false"/>
        <xs:attribute name="writeNormalizedMeasure" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Randomization Controls -->
    <xs:complexType name="randomizationControlsType">
        <xs:attribute name="randomizationTiming" type="randomizationTimingType" default="never"/>
        <xs:attribute name="selectCount" type="xs:nonNegativeInteger"/>
        <xs:attribute name="reorderChildren" type="xs:boolean" default="false"/>
        <xs:attribute name="selectionTiming" type="randomizationTimingType" default="never"/>
    </xs:complexType>

    <!-- Delivery Controls -->
    <xs:complexType name="deliveryControlsType">
        <xs:attribute name="tracked" type="xs:boolean" default="true"/>
        <xs:attribute name="completionSetByContent" type="xs:boolean" default="false"/>
        <xs:attribute name="objectiveSetByContent" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Simple Types -->
    <xs:simpleType name="conditionCombinationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="all"/>
            <xs:enumeration value="any"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="conditionOperatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="not"/>
            <xs:enumeration value="noOp"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="conditionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="satisfied"/>
            <xs:enumeration value="objectiveStatusKnown"/>
            <xs:enumeration value="objectiveMeasureKnown"/>
            <xs:enumeration value="objectiveMeasureGreaterThan"/>
            <xs:enumeration value="objectiveMeasureLessThan"/>
            <xs:enumeration value="completed"/>
            <xs:enumeration value="activityProgressKnown"/>
            <xs:enumeration value="attempted"/>
            <xs:enumeration value="attemptLimitExceeded"/>
            <xs:enumeration value="timeLimitExceeded"/>
            <xs:enumeration value="outsideAvailableTimeRange"/>
            <xs:enumeration value="always"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="preConditionActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="skip"/>
            <xs:enumeration value="disabled"/>
            <xs:enumeration value="hiddenFromChoice"/>
            <xs:enumeration value="stopForwardTraversal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="postConditionActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="exitParent"/>
            <xs:enumeration value="exitAll"/>
            <xs:enumeration value="retry"/>
            <xs:enumeration value="retryAll"/>
            <xs:enumeration value="continue"/>
            <xs:enumeration value="previous"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="exitConditionActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="exit"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="rollupConditionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="satisfied"/>
            <xs:enumeration value="objectiveStatusKnown"/>
            <xs:enumeration value="objectiveMeasureKnown"/>
            <xs:enumeration value="completed"/>
            <xs:enumeration value="activityProgressKnown"/>
            <xs:enumeration value="attempted"/>
            <xs:enumeration value="attemptLimitExceeded"/>
            <xs:enumeration value="never"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="rollupActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="satisfied"/>
            <xs:enumeration value="notSatisfied"/>
            <xs:enumeration value="completed"/>
            <xs:enumeration value="incomplete"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="childActivitySetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="all"/>
            <xs:enumeration value="any"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="atLeastCount"/>
            <xs:enumeration value="atLeastPercent"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="randomizationTimingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="never"/>
            <xs:enumeration value="once"/>
            <xs:enumeration value="onEachNewAttempt"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
